<%-include('./header')-%>

<!--Body Content-->
<body>
  <!--Navigation Bar-->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="home.html">The Biblio Mecca</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"
            >General Info<span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="policies.html">Policies and Procedure</a></li>
            <li><a href="address.html">Address & Visiting</a></li>
            <li><a href="aboutUs.html">About Us</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="signup.html"
            ><span class="glyphicon glyphicon-user"></span> Patron Sign Up</a
          >
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="glyphicon glyphicon-log-in"></span> Login
            <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="login.html">As Patron</a></li>
            <li><a href="login.html">As Librarian</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <!--Body-->
  <br /><br /><br /><br />
  <h1 style="font-size: 70;">The Biblio Mecca</h1>
  <br /><br /><br /><br /><br />

  <form class="search" action="#" style="margin: auto; max-width: 1000px;">
    <button type="submit"><i class="fa fa-search"></i></button>
    <input type="text" placeholder="Search A Book..." />
    <select id="searchFor" name="searchFor">
      <option value="ISBN">ISBN</option>
      <option value="Title">Title</option>
      <option value="Author">Author</option>
      <option value="Category">Category</option>
      <option value="Format">Format</option>
    </select>
  </form>
</body>

<%-include('./footer')-%>
